@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: linear-gradient(rgba(128, 128, 128, 0.055)) ;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}
nav{
    position: fixed;
    padding-top: 10px;
    width: 100vw;
    height: 75px;
    border-top: .5rem solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
header .brand{
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-right: 42%;
}
ul{
    display: flex;
    align-items: center;
    height: 60px;
}
ul a{
    text-decoration: none;
    color: white;
    margin: 0 2rem;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
}
ul li{
    list-style: none;
}
ul a:hover{
    color: aqua;
}
#reg{
    background-color: blueviolet;
    color: white;
    margin: 0 2rem;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-left: 10px;
    text-decoration: none;
    border-radius: 10px;
    height: 35px;
    border: none;
    width: 150px;
}
#btn-register #reg:hover{
    color: aqua;
    cursor: pointer;
}
#contact{
    color: aqua;
}







.contact-section
{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.contact-info
{
    color: #fff;
    justify-content: left;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i
{
    margin-right: 20px;
    font-size: 25px;
}

.contact-form
{
    max-width: 700px;
    margin-right: 50px;
}

.contact-info , .contact-form
{
    flex: 1;
}

.contact-form h2
{
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box
{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child
{
    margin-right: 15px;
}

.contact-form textarea
{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btm
{
    float: right;
    background: #2e94e3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transform: 0.3s;
    transition-property: background ;
}

.contact-form .send-btm:hover
{
    background: #0582e3;
}

@media screen and (max-width:950px) {
    .contact-section{
        flex-direction: column;
    }
    .contact-info , .contact-form
    {
        margin: 30px 50px;
    }

    .contact-form h2
    {
     font-size: 30px;
    }

    .contact-form .text-box
    {
        width: 100%;
    }   
}




